# Entornos virtuales
.venv
venv/
venv

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de credenciales (¡MUY IMPORTANTE!)
kaggle.json
*.json

# Archivos de configuración de IDE
.idea/
.vscode/

# Archivos de sistema operativo
.DS_Store
Thumbs.db